body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(235, 235, 235);
}

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

input, textarea:focus {
  outline: 0;
}
